html {
  scroll-behaviour: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* navbar  */

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  color: #000;
  letter-spacing: 2px;
  font-family: "Frank Ruhl Libre", serif;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 90%;
}
.navbar li {
  font-size: 18px;
  margin: auto 15px;
}
.navbar a {
  text-decoration: none;
  color: #333;
}
.navbar-icons {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 5%;
}
.call-icon,
.cart-icon {
  font-size: 24px;
  color: #333;
}

/* Section 1  */
.section1 {
  background-image: url("/images/img1.jpg"); /* Replace 'img1.jpg' with your actual image URL */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
}

.section-content {
  background-color: rgba(230, 127, 127, 0.7);
  padding: 20px 40px;
  width: 600px;
  margin-left: 60px;
  color: #fff;
}

.brand-name {
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: 600;
}

.brand-paragraph {
  font-size: 18px;
  line-height: 1.6;
}

/* Order section2 */
.order-section {
  background: linear-gradient(to right, rgb(221, 96, 182), rgb(244, 228, 85));
  padding: 20px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.order-title {
  font-size: 48px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  color: #fff;
}

.menu-name {
  font-size: 20px;
  margin: 10px 0;
}

.menu-description {
  font-size: 14px;
  color: #555;
}

.order-button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
  font-size: 18px;
  color: white;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 170px;
  color: black;
  font-weight: 600;
}

.order-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Cards Section  */

.section-2 {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  align-items: center;
}

.card {
  padding: 15px 15px 0 15px;
  height: 65%;
  width: 17%;
  background-color: white;
  margin-left: 30px;
  border-top-right-radius: 13%;
  border-bottom-left-radius: 13%;
  text-align: center;
}

.card h1 {
  font-size: 22px;
  margin-bottom: 2px;
}

.card h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.card_1-img {
  border-top-right-radius: 13%;
  height: 63%;
  width: 100%;
  background-image: url("/images/img4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_2-img {
  border-top-right-radius: 13%;
  height: 63%;
  width: 100%;
  background-image: url("/images/img2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_3-img {
  border-top-right-radius: 13%;
  height: 63%;
  width: 100%;
  background-image: url("/images/img3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styles for mobile navigation menu */
.mobile-nav {
  display: none;
  position: absolute;
  top: 70px; /* Adjust the value to position it correctly */
  right: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hamburger icon styles */
.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Media query for tablet and mobile screens */
@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    right: 70px;
  }

  .nav-items {
    display: none;
  }

  .navbar .nav-items,
  .navbar-icons {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .navbar li {
    font-size: 16px;
  }

  .section-content {
    width: 100%;
    margin: 0;
  }

  .order-button {
    padding: 15px 25px;
    width: 80%;
  }

  .section-2 {
    flex-direction: column;
  }

  .section-2 {
    height: auto;
  }

  .card {
    width: 80%;
    height: 350px;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar ul {
    width: 85%;
  }

  .navbar li {
    font-size: 16px;
    margin: auto 10px;
  }

  .card {
    width: 22%;
  }
}
